.gameArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vh;
    height: 90vh;
    min-width: 400px;
    min-height: 400px;
    border: 2px solid black;
    margin: auto;
    background-color: rgb(42, 42, 112);
}

.playerSelect {
    display: flex;
    width: 65%;
    justify-content: space-evenly;
    background-color: grey;
    margin-bottom: 20px;
}

.gameBoard {
    display: grid;
    width:75%;
    height:75%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    box-shadow: 0px 0px 15px darkgrey;
    background-color: goldenrod;
}

.gameBtn {
    background-color: rgb(64, 88, 88);
    border: none;
    font-size: 4.5rem;
    font-weight: 700;
    color: rgb(152, 9, 9);
}

.top {
    margin-bottom: 5px;
}

.bottom {
    margin-top: 5px;
}

.right {
    margin-left: 5px;
}

.left {
    margin-right: 5px;
}

.gameBtn:hover {
    cursor: pointer;
}