.gameArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vh;
    height: 90vh;
    min-width: 400px;
    min-height: 400px;
    border: 2px solid black;
    margin: auto;
}

.playerSelect {
    display: flex;
    width: 65%;
    justify-content: space-evenly;
    background-color: grey;
    margin: 10px;
}

.gameBoard {
    display: grid;
    width:75%;
    height:75%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gameBtn {
    border: 3px solid darkblue;
    background-color: white;
}

.top {
    border-top: none;
}

.bottom {
    border-bottom: none;
}

.right {
    border-right: none;
}

.left {
    border-left: none;
}